body {
  background-color: #b980f0;
}

  /* apply CSS on box and also did box is centre verticaly and horizontally */
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #fff;
  height: 500px;
  width: 325px;
  border-radius: 4%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

 /* add box shdow on hover effect  */
.center:hover{
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

/* added CSS on H1 tag for good looking */
h1{
    text-align: center;
    color: #b980f0;
    text-shadow: 2px 4px 4px rgba(0,0,0,0.3), 
    0px -4px 5px rgba(255,255,255,0.3);
}

.task{
    margin-left: 20px;
    text-align: center;
}

input[type="text"]::placeholder { 
                text-align: center;
                font-weight: 600;
            }

.icon{
  margin-left: 20px;
  color: #b980f0;
}

.icon:hover{
  color: green;
}

ol{
  list-style-type: none;
  font-size: medium;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.icon1:hover{
  color: red;
}